<div class="todo-app">
  <div class="category-tabs">
    <button [ngClass]="{
        selected: service.tab === 'todo'
      }" routerLink="/todo">
      TODOs
    </button>
    <button [ngClass]="{
        selected: service.tab === 'completed'
      }" routerLink="/completed">
      Completed
    </button>
  </div>

  <todo-list></todo-list>

  <div class="list-footer">
    <span class="list-count">{{ service.data.length }} Tasks</span>
    <button class="trash-toggle" (click)="service.trash = !service.trash">
      <span class="icon"></span>
    </button>
  </div>
</div>
